<div id='projects' ng-controller='ProjectsCtrl'>
  <h2>Projects</h2> 
  <div ng-class='{true:"selected",false:""}[pr.name===selected_project]' ng-repeat='pr in projects'>
    <div class='list-element' project name='{{pr.name}}' select='on_click(pr.name)' delete='delete_project(pr.name)'></div>
  </div>
  <div class='list-element' todoadd name='pr.name' add='add_project(pr.name)'></div>
</div>
<div id='tasks' ng-controller='TasksCtrl'>
  <div ng-hide='selected_project'>
    <h2>Choose project</h2>
  </div>
  <div ng-show='selected_project'>
    <h2>Tasks for {{selected_project}}</h2>
    <div ng-repeat='task in tasks track by $index'>
      <div class='list-element' task index='$index' name='{{task.name}}' completed='task.done'></div>
    </div>
    <div class='list-element' todoadd name='task.name' add='add_task(task.name)'></div>
  </div>
</div>